<div>
<h2>Chuck Norris Jokes</h2>
<a href='/jokes/all'>More Jokes</a>
</div>
<% jokes.each do |joke| %>
<p><%= joke["joke"] %></p> 
<%end%>
<button class="button" onclick="location.href='/jokes';"> Get New Joke</button>

