<html>
 <head>
   <script src="/js/jquery.js"></script>
   <script src="/js/your_app.js"></script>
   <link rel="stylesheet" href="../public/css/crystal_testing.css"/>
 </head>
 <body>
   <%= content %>
 </body>
</html>